@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --foreground: #171717;
  --font-forum: 'Forum', sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-forum), Arial, Helvetica, sans-serif;
}
