@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --foreground: #171717;
  --font-forum: 'Forum', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.font-poppins {
  font-family: var(--font-poppins);
}

.font-forum {
  font-family: var(--font-forum);
}

.custom-calendar {
  font-family: var(--font-forum) !important;
  border-radius: 0% !important;
}

.custom-selected-day {
  background-color: #BF9766 !important;
  color: white !important;
  border-radius: 0% !important;
}
