@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --foreground: #171717;
  --font-forum: 'Forum', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.font-poppins {
  font-family: var(--font-poppins);
}

.font-forum {
  font-family: var(--font-forum);
}
